.app {
  width: 1920px;
  height: 1080px;
  background-image: url("images/background.png");
}

.header {
  height: 74px;
  background-color: #ffffff;
  display: flex;
  align-items: center;

  &__title {
    width: 233px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {
  height: 956px;
  background-color: #000000cc;

  &__header {
    padding: 40px 40px 0 40px;
  }

  &__title {
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
    margin: 0;
    border-bottom: 1px solid #ffffff33;

    &--normal {
      margin-left: 8px;
    }

    &--small {
      font-size: 13.71px;
      margin-left: 16px;
    }
  }

  &__title-icon {
    vertical-align: -5px;
  }
}

.footer {
  height: 50px;
  background-color: #000000cc;
  display: flex;
  color: #ffffff;
  border-top: 1px solid #ffffff33;
  font-size: 12px;

  &__left {
    display: flex;
    align-items: center;
    margin-left: 32px;

    &--terms-of-use {
      color: #ffffff;
      text-decoration: none;
    }

    &--privacy-policy {
      margin-left: 24px;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__left-icon {
    margin-left: 8px;
    vertical-align: -2px;
  }

  &__right {
    margin-left: auto;
    margin-right: 32px;
    align-items: center;
  }
}
