.App {
  width: 1920px;
  height: 1080px;
  background-image: url("images/background.png");
}

.header {
  height: 74px;
  background-color: #ffffff;
}

.main {
  height: 956px;
  background-color: #000000cc;
}

.footer {
  height: 50px;
  background-color: #000000cc;
}
